table {
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid grey;
}

th {
    text-align: left;
}

td, th {
    padding-right: 2px;
}

.shift_color:nth-child(even) {
    background-color: #DDDDE3;
}

.shift_odd_color:nth-child(odd) {
    background-color: #DDDDE3;
}

.first_second_four:nth-child(4n+1) {
    background-color: #DDDDE3;
}

.first_second_four:nth-child(4n+2) {
    background-color: #DDDDE3;
}

.center_align {
    text-align: center;
}

.right_align {
    text-align: right;
}

.right_pad {
    padding-right: 15px;
}

.btn {
    border: 1px solid #DDDDE3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 8px 2px 8px;
    background: white;
    outline: none;
}

.btn:hover {
    border: 1px solid #DDDDE3;
    background: #3cb0fd;
}

.plusbtn:hover {
    background: #3cb0fd;
}